@import 'variables.scss';
@import 'react-datepicker/src/stylesheets/datepicker.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;



/* pixelify-sans-700 - latin-ext */
@font-face {
  font-display: swap;
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/pixelify-sans-v1-latin-ext-700.woff2") format("woff2");
}

:root {
  --primary-color-hue: 40;
  --primary-color-saturation: 100%;
  --primary-color-lightness: 53%;
  --primary-color: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    var(--primary-color-lightness)
  );
  --secondary-color-hue: 173;
  --secondary-color-saturation: 80%;
  --secondary-color-lightness: 40%;
  --secondary-color: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    var(--secondary-color-lightness)
  );
  --logo-primary-color: rgb(254 220 10);
  --logo-shadow-offset-x: 2px;
  --logo-shadow-offset-y: 2px;
  --text-primary-color: #262626;
  --text-secondary-color: #6b7280;
  --spinner-text-color: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --zinc-900: #18181b;
  --primary-bg: #fff;
  --delimeter-color: var(--gray-100);
  --border-color: var(--gray-200);
  --skeleton-bg: var(--gray-200);
  --filter-bg: var(--gray-100);
  --spinner-fill-color: var(--primary-color);
  --pagination-bg: var(--slate-100);
  --select-bg: var(--slate-100);
  --select-bg-hover: var(--slate-50);
  --cross-color: var(--gray-200);
  --select-border-color: var(--gray-100);
  --datepicker-header-bg: var(--gray-100);
  --datepicker-body-bg: var(--primary-bg);
  --datepicker-border-b-color: var(--gray-200);
  --datepicker-outside-month-color: var(--gray-400);
  --datepicker-mited-color: var(--gray-300);
}

.dark {
  --text-primary-color: #d4d4d4;
  --spinner-text-color: #4b5563;
  --primary-bg: #22232a;
  --delimeter-color: var(--gray-700);
  --border-color: var(--gray-700);
  --skeleton-bg: var(--gray-700);
  --filter-bg: var(--zinc-900);
  --pagination-bg: var(--gray-700);
  --select-bg: var(--gray-700);
  --select-border-color: var(--gray-700);
  --select-bg-hover: var(--gray-800);
  --cross-color: var(--secondary-color);
  --datepicker-header-bg: var(--zinc-900);
  --datepicker-border-b-color: var(--gray-700);
}

@layer components {
  .table-sticky-cell {
    @apply sticky left-0 bg-primary-bg min-w-[170px] z-20;
  }
  .table-head-arrow {
    @apply w-2 h-2 relative top-[1px];
  }
}

body {
  color: var(--text-primary-color);
  background-color: var(--primary-bg);
}

td {
  z-index: 10;
  position: relative;
}
td:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 50;
}

.crypto-table td:after {
  top: -1px;
  border-top: 1px solid var(--delimeter-color);
}

.crypto-shadow {
  text-shadow: var(--logo-shadow-offset-x) var(--logo-shadow-offset-y) 0
    var(--primary-color);
}

.react-datepicker {
  background-color: var(--primary-bg) !important;
  // border: none !important;
}