@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table-sticky-cell {
    @apply sticky left-0 bg-white min-w-[170px] z-20;
  }
  .table-head-arrow {
    @apply w-2 h-2 relative top-[1px];
  }
}

td {
  z-index: 10;
  position: relative;
}
td:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 50;
}

td:after {
  top: -1px;
  border-top: 1px solid #e5e7eb;
}

.react-datepicker {
  border: none;
  border-radius: 0.5rem;
}

.react-datepicker__header {
  border-top-left-radius: 0.5rem;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
}
