@tailwind base;
@tailwind components;
@tailwind utilities;

/* pixelify-sans-700 - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/pixelify-sans-v1-latin-ext-700.woff2') format('woff2');
}

:root {
  --logo-shadow-offset: 2px;
  --crypto-shadow-color: rgb(255 175 15);
  --pulse-shadow-color: rgb(18 161 144);
}

@layer base {
  body {
    @apply text-neutral-800 dark:bg-darkModeBg dark:text-neutral-300;
  }
}


@layer components {
  .table-sticky-cell {
    @apply sticky left-0 bg-white dark:bg-darkModeBg min-w-[170px] z-20;
  }
  .table-head-arrow {
    @apply w-2 h-2 relative top-[1px];
  }
}

td {
  z-index: 10;
  position: relative;
}
td:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 50;
}

td:after {
  top: -1px;
  border-top: 1px solid #e5e7eb;
}

.dark td:after {
  border-top: 1px solid #374151;
}

.react-datepicker {
  border: none;
  border-radius: 0.5rem;
}

.react-datepicker__header {
  border-top-left-radius: 0.5rem;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
}

.crypto-shadow {
  text-shadow: var(--logo-shadow-offset) var(--logo-shadow-offset) 0 var(--crypto-shadow-color);
}
