@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables.scss";
@import "react-datepicker/src/stylesheets/datepicker.scss";

@font-face {
  font-display: swap;
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/pixelify-sans-v1-latin-ext-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/chakra-petch-v11-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/roboto-v32-latin-ext-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/roboto-v32-latin-ext-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/roboto-v32-latin-ext-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/roboto-v32-latin-ext-700.woff2") format("woff2");
}

:root {
  --primary-color-hue: 40;
  --primary-color-saturation: 100%;
  --primary-color-lightness: 53%;
  --primary-color: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    var(--primary-color-lightness)
  );
  --secondary-color-hue: 173;
  --secondary-color-saturation: 80%;
  --secondary-color-lightness: 40%;
  --secondary-color: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    var(--secondary-color-lightness)
  );
  --logo-primary-color: rgb(254 220 10);
  --logo-shadow-offset-x: 2px;
  --logo-shadow-offset-y: 2px;
  --text-primary-color: #262626;
  --text-secondary-color: #6b7280;
  --spinner-text-color: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --zinc-50: #fafafa;
  --zinc-900: #18181b;
  --primary-bg: #fff;
  --delimeter-color: var(--gray-100);
  --border-color: var(--gray-200);
  --skeleton-bg: var(--gray-100);
  --filter-bg: var(--gray-100);
  --cross-color: var(--gray-200);
  --spinner-fill-color: var(--secondary-color);
  --pagination-bg: var(--slate-100);
  --select-bg: var(--zinc-50);
  --select-border-color: var(--gray-100);
  --datepicker-header-bg: var(--gray-100);
  --datepicker-body-bg: var(--primary-bg);
  --datepicker-border-b-color: var(--gray-200);
  --datepicker-outside-month-color: var(--gray-400);
  --datepicker-mited-color: var(--gray-300);
  --search-input-bg: var(--zinc-50);
  --table-head-bg: var(--zinc-50);
  --typewriter-text: #262626;
  --dots-color: #e5e7eb;
  --table-head-color: var(--typewriter-text);
}

.dark {
  --text-primary-color: #fefce8;
  --spinner-text-color: #4b5563;
  --primary-bg: #22232a;
  --delimeter-color: var(--gray-700);
  --border-color: var(--gray-700);
  --skeleton-bg: var(--gray-700);
  --filter-bg: var(--zinc-900);
  --pagination-bg: var(--zinc-900);
  --select-bg: var(--zinc-900);
  --select-border-color: var(--gray-700);
  --cross-color: var(--secondary-color);
  --datepicker-header-bg: var(--zinc-900);
  --datepicker-border-b-color: var(--gray-700);
  --typewriter-text: var(--gray-500);
  --search-input-bg: var(--zinc-900);
  --table-head-bg: var(--zinc-900);
  --table-head-color: #71717a
}

@layer components {
  .table-sticky-cell {
    @apply sticky left-0 bg-primary-bg min-w-[170px] z-20;
  }
  .table-head-arrow {
    @apply w-2 h-2 relative top-[1px];
  }
}

html, body {
  min-height: 100%;
}

body {
  color: var(--text-primary-color);
  background-color: var(--primary-bg);
  font-family: "Roboto", sans-serif;
}

td {
  z-index: 10;
  position: relative;
}
td:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 50;
}

.crypto-table td:after {
  top: -1px;
  border-top: 1px solid var(--delimeter-color);
}

.crypto-shadow {
  text-shadow: var(--logo-shadow-offset-x) var(--logo-shadow-offset-y) 0
    var(--primary-color);
}

.react-datepicker {
  background-color: var(--primary-bg) !important;
  border: none !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  position: absolute;
  z-index: 50;
  right: -36px;
  top: 49px;
}

.focus-visible-outline:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 2px var(--secondary-color) !important;
  border-radius: 0.375rem;
  outline-offset: 2px;
  z-index: 100;
}

.focus-visible-outline.focus-visible-rounded:focus-visible {
  border-radius: 50%;
}

@media (min-width: 372px) {
  .react-datepicker {
    right: 0;
  }
}

@media (min-width: 640px) {
  .react-datepicker {
    top: 52px;
  }
}

body {
  position: relative;
}

.dark body {
  background-image: url(./assets/images/noise-transparent.png);
  background-attachment: fixed;
}

.dark .lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}
.dark .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  &:nth-child(1) {
    margin-left: -25%;
    &::after {
      animation-delay: 2s;
    }
  }
  &:nth-child(3) {
    margin-left: 25%;
    &::after {
      animation-delay: 2.5s;
    }
  }
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
};