$datepicker__background-color: var(--datepicker-header-bg);
$datepicker__border-color: var(--border-color);
$datepicker__text-color: var(--text-primary-color);
$datepicker__header-color: var(--text-primary-color);
$datepicker__selected-color: hsl( 173, 80%, 40% );
